
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router1.php?action=CaveAccueil">Généalogie</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Famille <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=vinReadAll">Liste des familles</a></li>
          <li><a href="router1.php?action=vinReadId">Ajout d'une famille</a></li>
          <li><a href="router1.php?action=vinCreate">Sélection d'une famille</a></li>                       
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Evènement <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=vinReadAll">Liste des évènements</a></li>
          <li><a href="router1.php?action=vinReadId">Ajout d'un évènement</a></li>                       
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Lien <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=vinReadAll">Liste des liens</a></li>
          <li><a href="router1.php?action=vinReadId">Ajout d'un lien parent</a></li>  
          <li><a href="router1.php?action=vinReadId">Ajout d'un lien union</a></li>                     
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Individu <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=vinReadAll">Liste des individus</a></li>
          <li><a href="router1.php?action=vinReadId">Ajout d'un individu </a></li>  
          <li><a href="router1.php?action=vinReadId">Page d'un individu</a></li>                     
        </ul>
      </li>


        </ul>
      </li>         
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

