<!-- ----- début fragmentCaveMenu -->

<nav class="px-2 navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="router1.php?action=accueil">BERAULT, LONNOY</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" type="button">
                        Famille
                    </a>
                    <div aria-labelledby="Famille" class="dropdown-menu">
                        <a class="dropdown-item" href="router1.php?action=listFamily">Liste des familles</a>
                        <a class="dropdown-item" href="router1.php?action=familyCreate">Ajout d'une famille</a>
                        <a class="dropdown-item" href="router1.php?action=selectFamily">Selection d'une famille</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" type="button">
                        Évènement
                    </a>
                    <div aria-labelledby="Famille" class="dropdown-menu">
                        <a class="dropdown-item" href="router1.php?action=listEvent">Liste des évènements</a>
                        <a class="dropdown-item" href="router1.php?action=eventCreate">Ajout d'un évènement</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" type="button">
                        Lien
                    </a>
                    <div aria-labelledby="Famille" class="dropdown-menu">
                        <a class="dropdown-item" href="router1.php?action=listLink">Liste des liens</a>
                        <a class="dropdown-item" href="router1.php?action=addParentLink">Ajout d'un lien parent</a>
                        <a class="dropdown-item" href="router1.php?action=addUnionLink">Selection d'un lien union</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" type="button">
                        Individu
                    </a>
                    <div aria-labelledby="Famille" class="dropdown-menu">
                        <a class="dropdown-item" href="router1.php?action=listIndiv">Liste des individus</a>
                        <a class="dropdown-item" href="router1.php?action=addIndiv">Ajout d'un individu</a>
                        <a class="dropdown-item" href="router1.php?action=selectIndiv">Selection d'un individu</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

